absl-py==1.2.0
aiohttp==3.8.1
aiohttp-retry==2.8.3
aiosignal==1.2.0
alembic==1.8.1
altair==4.2.0
amqp==5.1.1
antlr4-python3-runtime==4.9.3
anyascii==0.3.1
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
asyncssh==2.12.0
atpublic==3.1
attrdict==2.0.1
attrs==21.4.0
autopage==0.5.1
autopep8==1.6.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
bleach==4.1.0
blinker==1.5
boto3==1.24.53
botocore==1.27.53
Bottleneck==1.3.5
bravado==11.0.3
bravado-core==5.17.0
brotlipy==0.7.0
cachetools==5.2.0
celery==5.2.7
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cliff==4.0.0
cloudpickle==2.1.0
cmaes==0.8.2
cmd2==2.4.2
cohere==2.2.5
colorama==0.4.5
colorlog==5.0.1
commonmark==0.9.1
configobj==5.0.6
contractions==0.0.18
cryptography==37.0.4
cycler==0.11.0
Cython==0.29.28
databricks-cli==0.17.3
datasets==2.4.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dictdiffer==0.9.0
dill==0.3.5.1
diskcache==5.4.0
distro==1.7.0
docker==5.0.3
dpath==2.0.6
dulwich==0.20.45
dvc==2.23.0
dvc-data==0.2.0
dvc-gdrive==2.19.0
dvc-http==2.19.1
dvc-objects==0.1.16
dvc-render==0.0.9
dvc-task==0.1.2
dvclive==0.10.0
emoji==2.0.0
entrypoints==0.4
et-xmlfile==1.1.0
etils==0.8.0
executing==0.8.3
ez-setup==0.9
fast-ml==3.68
fastjsonschema==2.15.1
filelock==3.8.0
Flask==2.2.2
flatbuffers==1.12
flatten-dict==0.4.2
flufl.lock==7.1
fonttools==4.34.4
frozenlist==1.3.1
fsspec==2022.8.0
funcy==1.17
fusepy==3.0.1
future==0.18.2
gast==0.4.0
gdrivefs==0.14.13
gensim==4.2.0
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.10.0
google-api-python-client==2.58.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
grandalf==0.6
greenlet==1.1.1
grpcio==1.42.0
gunicorn==20.1.0
h5py==3.6.0
httplib2==0.20.4
huggingface-hub==0.9.1
hydra-core==1.2.0
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.2.0
impyute==0.0.8
iniconfig==1.1.1
ipykernel==6.9.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.1.0
json5==0.9.5
jsonpointer==2.3
jsonref==0.2
jsonschema==3.2.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
kombu==5.2.4
libclang==14.0.6
libmambapy==0.25.0
llvmlite==0.38.1
Mako==1.2.2
mamba==0.25.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.2
missingno==0.5.1
mistune==0.8.4
mizani==0.7.4
mlflow==1.28.0
monotonic==1.6
msgpack==1.0.4
multidict==6.0.2
multiprocess==0.70.13
munkres==1.1.4
mysql==0.0.3
mysql-connector-python==8.0.30
mysqlclient==2.1.1
nanotime==0.5.2
nbclassic==0.4.3
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.3.0
neptune-client==0.16.5
neptune-notebooks==0.9.3
nest-asyncio==1.5.5
networkx==2.8.6
nltk==3.7
numexpr==2.8.3
numpy==1.22.4
oauth2client==4.0.0
oauthlib==3.2.0
omegaconf==2.2.3
openai==0.23.0
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
optuna==3.0.1
opuslib==2.0.0
packaging==21.3
palettable==3.3.0
pandas==1.4.3
pandas-stubs==1.4.4.220912
pandocfilters==1.5.0
parso==0.8.3
path==16.4.0
path.py==12.5.0
pathspec==0.9.0
patsy==0.5.2
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip==22.1.2
plotly==5.10.0
plotnine==0.9.0
pluggy==1.0.0
prettytable==3.4.1
progressbar2==3.37.1
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyahocorasick==1.4.4
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.21
pydeck==0.7.1
pydot==1.4.2
PyDrive==1.3.1
PyDrive2==1.14.0
pygit2==1.10.1
Pygments==2.11.2
pygtrie==2.5.0
PyJWT==2.4.0
pyLDAvis==3.3.1
Pympler==1.0.1
PyMySQL==1.0.2
PyOgg==0.6.14a1
pyOpenSSL==22.0.0
pyparsing==3.0.4
pyperclip==1.8.2
pyrsistent==0.18.0
PySocks==1.7.1
pytest==7.1.2
pytest-runner==5.3.1
python-dateutil==2.8.2
python-decouple==3.6
python-Levenshtein==0.12.2
python-utils==2.5.5
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
PyYAML==6.0
pyzmq==23.2.0
querystring-parser==1.2.4
regex==2022.7.25
requests==2.28.1
requests-oauthlib==1.3.1
resampy==0.4.1
responses==0.18.0
rfc3987==1.3.8
rich==12.5.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
ruamel-yaml-conda==0.15.80
s3transfer==0.6.0
sacremoses==0.0.43
scikit-learn==1.1.2
scipy==1.9.0
scmrepo==0.0.25
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
setuptools==61.2.0
shortuuid==1.0.9
shtab==1.5.5
simplejson==3.17.6
six==1.16.0
sklearn==0.0
smart-open==6.0.0
smmap==5.0.0
sniffio==1.2.0
SoundFile==0.10.3.post1
soupsieve==2.3.1
sprt==0.0.1
SQLAlchemy==1.4.39
sqlparse==0.4.2
stack-data==0.2.0
statsmodels==0.13.2
stevedore==4.0.0
streamlit==1.12.2
streamlit-aggrid==0.3.2
strict-rfc3339==0.7
swagger-spec-validator==2.7.4
tabulate==0.8.10
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-macos==2.9.2
tensorflow-metadata==1.10.0
tensorflow-metal==0.5.1
termcolor==1.1.0
terminado==0.13.1
testpath==0.6.0
textblob==0.17.1
textdistance==4.4.0
textsearch==0.0.21
threadpoolctl==3.1.0
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
toolz==0.12.0
torch==1.13.0.dev20220912
torchaudio==0.13.0.dev20220912
torchvision==0.14.0.dev20220912
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
transformers==4.21.3
types-pytz==2022.2.1.0
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.11
validators==0.20.0
vine==5.0.0
voluptuous==0.13.1
watchdog==2.1.9
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==3.6.1
wordcloud==1.8.2.2
wrapt==1.14.1
xgboost==1.6.2
xxhash==3.0.0
yarl==1.8.1
zc.lockfile==2.0
zipp==3.8.1